@import "normalizes.scss"
@import "resets.scss"

$main-color: #463D3D
$first-text-color: #CFC3C3
$second-text-color: #000000
$accent-text-color: #D52927

html
    background: #AB9C9C

.main-section
    position: relative
    width: 100vp
    height: 800px
    background-color: $main-color
.left-wrapper
    &__title
        font-size: 128px
        color: $first-text-color
    &__text
        font-size: 46px
        color: $first-text-color
    &__span
        color: $accent-text-color

.right-wrapper
    position: relative
    display: flex
    &__img
        display: flex
        position: relative
        justify-content: flex-start
        left: 5px
        top: -100px
        width: 1026px
        height: 800px
